* {
  box-sizing: border-box;
}

.wrapper {
    overflow: hidden;
}
.body {
  padding: 0;
  margin: 0;
}

ul, li {
    list-style: none;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: "Roboto";
  }

.header {
  padding: 30px 0px;

}

.header__container {
  display: flex;
  justify-content: space-between;

}

.nav__list {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-left: 400px;
}

.nav__link {
  color: white;
  margin-left: 67px;

}

.backround {
  height: 100vh;
  background: linear-gradient(90deg, red 30%, Black 30%);
  background-size: cover;
}
.Hero__title {
  font-size: 350px;
  color: aliceblue;
  margin-left: 200px;
  margin-bottom: 100px;
  font-family: "Roboto";
}
.hero__img {
  margin-top: -500px;
  margin-left: 200px;
}
.title__iconcar {
  color:  #000000;
  font-family: "Roboto";
  margin-top: 25px;
  
}
.block__caricon {
   display: flex;
}
.img__search {
  display: flex;
  justify-content: space-between;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.title__search {
  color: gray;
 margin-left: 40px;
}
.header__search {
  margin-left: 54px;
  width: 189px;
  position: relative;
}
.header__search::before {
content: ;
width: 20px;
height: 20px;
position: absolute;
display: block;
left: 0;
background-image: url(img/search.png);
background-position: center;
background-size: contain;
background-repeat: no-repeat;

}
.header__input-search {
  outline: none;
  border: none;
  background: black;
  color: white;
  border-bottom: 1px solid  #FFFFFF;
  padding-bottom:8px;
  width: 100%;
  padding-left:44px ;
}
.header__input-search::placeholder {
  color: grey;
  font-weight: 480px;
}
